
/*
This is to make things look pretty in my INFO153 Lab2
*/
/* 
    Created on : 2017. 4. 27, 오전 10:04:49
    Author     : geun
*/

h1 {
    
    position: relative;
    left: 50%;
    font-style: italic;
    color: red;
}
h2{
    position: relative;
    left: 45%;
    font-style: initial;
    color: beige;
}

h3{
    position: relative;
    font-style: oblique;
    color: blue;
    
}
body{
    background-color: black;
    color: aqua;
}
h4{
    color: red;
}
p {
    font-style: oblique;
    color: darkmagenta;
    
}

table{
 margin: 0 auto;   
}
th {
    text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2}

